{% extends "layout.html" %}
{% block title %}
About
{% endblock %}
{% block navitems %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">             Sign UP</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href={{ url_for('signup') }}">Student</a>
        <a class="dropdown-item" href={{ url_for('signUp') }}>Faculty</a>
      </div>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">            Sign IN</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href={{ url_for('login_s') }}>Student</a>
        <a class="dropdown-item" href={{ url_for('login_f') }}>Faculty</a>
        <a class="dropdown-item" href={{ url_for('login_a') }}>Admin</a>
      </div>
    </li>
    </li>
       <li class="nav-item">
      <a class="nav-link" href={{ url_for('about') }}> About </a>
    </li>
    {% endblock %}
{% block content %}
<br>
<br>
<pre>

       This app is to let students keep track of their attendence from time to time.
{% endblock %}