{% extends "layout.html" %}
{% block title %}
DASH BOARD
{% endblock %}
{% block navitems %}
   <li class="nav-item">
      <a class="nav-link" style="color: #fcfcfc !important"> Hi , {{name}} </a>
    </li>
          <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">            See</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href={{ url_for('attendence_s')}}>Attendence</a>
        <a class="dropdown-item" href={{ url_for('not_available') }}>Grades</a>
        <a class="dropdown-item" href={{ url_for('not_available') }}>Material</a>
      </div>
    </li>

       <li class="nav-item">
      <a class="nav-link" href={{ url_for('logout') }}> Logout </a>
    </li>
    {% endblock %}
{%block content%}
<br>
<br>
<table class="table table-striped">
  <tbody>
    <tr>
    <th scope="row">1</th>
    <td>Roll Number</td>
    <td>{{idno}}</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Name </td>
    <td>{{sn}}</td>

  </tr>

  <tr>
    <th scope="row">3</th>
    <td>Year</td>
    <td>{{year}}</td>
   
  </tr>
    <tr>
      <th scope="row">4</th>
    <td>Section </td>
    <td>{{sec}}</td>
   
  </tr>
   <tr>
    <th scope="row">5</th>
    <td>Total periods till {{date}} </td>
    <td>{{ove}}</td>
   
  </tr>
    <tr>
      <th scope="row">6</th>
    <td>Attended </td>
    <td>{{tot}}</td>
   
  </tr>
</tbody>
</table>




{% endblock %}