{% extends "layout.html" %}
{% block title %}
DASH BOARD
{% endblock %}
{% block navitems %}
   
<li class="nav-item">
      <a class="nav-link" style="color: #ffffff"> Hi, {{ name}} </a>
    </li>
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">             Attendence</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href={{ url_for('attendence_au') }}>Update</a>
        <a class="dropdown-item" href={{ url_for('attendence_ai') }}>Import</a>
      </div>
        </li>
       <li class="nav-item">
      <a class="nav-link" href=#> Grades </a>
    </li>
        </li>
       <li class="nav-item">
      <a class="nav-link" href=#> Material </a>
    </li>
        </li>
       <li class="nav-item">
      <a class="nav-link" href={{ url_for('logout') }}> Logout </a>
    </li>
    {% endblock %}
{%block content%}
<br>
<br>



<div class="container mt-3">
  <h2>UPDATE LATEST ANALYSIS</h2>
  <p>To update the attendence analysis the students list should be consistent with lastly imported list. Make sure UPDATING LIST IS CONSISTANT WITH THE LASTLY IMPORTED LIST. </p>
  <form action="/attendence_au" method="POST" enctype="multipart/form-data">
    <p>Choose file:</p>
    <div class="custom-file mb-3">
      <input type="file" class="custom-file-input" id="customFile" name="inputfile" accept=".xlsx ,.xls">
      <label class="custom-file-label" for="inputfile">Choose  excel file</label>
    </div>
    <br>
    <button class="btn btn-dark" type="submit">Submit</button>
  </form>
</div>
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

{% endblock %}