{% extends "layout.html" %}
{% block title %}
DASH BOARD
{% endblock %}
{% block navitems %}
<li class="nav-item">
      <a class="nav-link" style="color: #ffffff"> Hi, {{ name}} </a>
    </li>
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">             Attendence</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href={{ url_for('attendence_au') }}>Update</a>
        <a class="dropdown-item" href={{ url_for('attendence_ai') }}>Import</a>
      </div>
        </li>
       <li class="nav-item">
      <a class="nav-link" href={{ url_for('not_available') }}> Grades </a>
    </li>
        </li>
       <li class="nav-item">
      <a class="nav-link" href={{ url_for('not_available') }}> Material </a>
    </li>
        </li>
       <li class="nav-item">
      <a class="nav-link" href={{ url_for('logout') }}> Logout </a>
    </li>
    {% endblock %}
{%block content%}
 



{% endblock %}