
{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
{{title}}
{% endblock %}
<!--Navbar -->
{% block navitems %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">             Sign UP</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href={{ url_for('signup') }}>Student</a>
        <a class="dropdown-item" href={{ url_for('signUp') }}>Faculty</a>
      </div>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">            Sign IN</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href={{ url_for('login_s') }}>Student</a>
        <a class="dropdown-item" href={{ url_for('login_f') }}>Faculty</a>
        <a class="dropdown-item" href={{ url_for('login_a') }}>Admin</a>
      </div>
    </li>
    </li>
       <li class="nav-item">
      <a class="nav-link" href={{ url_for('about') }}> About </a>
    </li>
    {% endblock %}
{%block content%}
<div class="d-flex justify-content-center">
<div class="col-sm-6" style="background-color:; ">

      <form class="form-signin" method="POST" action="/login_f">
        <br>
        <br>
        <br>
        <h1 class="form-signin-heading"> Sign In</h1>
        <br>
        <br>
        {{ form.hidden_tag() }}
       <h4> {{ wtf.form_field(form.Idno) }}</h4>
        <h4>{{ wtf.form_field(form.password) }}</h4>
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-dark" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
</div>
{% endblock %}

